<!-- index.html -->
<!-- Samuel Mellot Copyright November 2015-->
<!DOCTYPE html>
<html>
<head lang="fr">
    <title>angular-formly</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body ng-app="formlyApp" ng-controller="MainController as vm">


<!-- Application Dependencies -->
<script src="node_modules/api-check/dist/api-check.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="node_modules/angular-formly/dist/formly.js"></script>
<script src="node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>


<!-- Application Scripts -->
<script src="app.js"></script>
<script src="scripts/MainController.js"></script>
<script src="scripts/inventoryType.js"></script>
<script src="scripts/floorNumber.js"></script>
<script src="scripts/numberOfRoom.js"></script>
<script src="scripts/dependanceTypes.js"></script>
<script src="scripts/stateOfStuff.js"></script>
<script src="scripts/roomTypes.js"></script>

<script type="text/ng-template" id="input.html">
    <pre ng-repeat="(key, val) in this">$scope.{{key}} = {{ val | json }} </pre>

</script>

<!-- CSS responsive Doc available at : http://getbootstrap.com/css/ -->
<div class="container .col-xs-6 .col-sm-4">

    <!-- Display Model values in real time. For Debug only -->
    <h2>Model</h2>
    <pre>{{vm.inventory | json}}</pre>

    <!--
    <h2>Fields <small>(note,functions are not shown)</small></h2>
    <pre>{{vm.inventoryFields | json}}</pre>
    -->

    <!--
    <h2>Forms</h2>
    <pre>{{vm.form | json}}</pre>
    -->

    <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <h1>Etat des lieux a distance</h1>
        <formly-form model="vm.inventory" fields="vm.inventoryFields" form="vm.inventoryForm" options="vm.options">
            <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid"
                    ng-click="vm.submit(vm.inventory)">Terminer Saisie
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.options.resetModel()">Reset</button>
        </formly-form>
    </form>
</div>


<!-- DatePicker -->
<script type="text/ng-template" id="datepicker.html">
    <p class="input-group">
        <input type="text"
               id="{{::id}}"
               name="{{::id}}"
               ng-model="model[options.key]"
               class="form-control"
               ng-click="datepicker.open($event)"
               datepicker-popup="{{to.datepickerOptions.format}}"
               is-open="datepicker.opened"
               datepicker-options="to.datepickerOptions"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datepicker.open($event)"
                            ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
    </p>
</script>


<!-- Room types dynamic repeated JSON model -->
<script type="text/ng-template" id="repeatRoomTypes.html">
    <div>
        <!--loop through each element in model array-->
        <div class="{{hideRepeat}}">
            <div class="repeatRoomTypes" ng-repeat="element in model[options.key]"
                 ng-init="fields = copyFields(to.fields)">
                <formly-form fields="fields"
                             model="element"
                             form="form">
                </formly-form>
                <div style="margin-bottom:20px;">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
                        Remove
                    </button>
                </div>
                <hr>
            </div>
            <p class="AddNewButton">
                <button type="button" class="btn btn-primary" ng-click="addNew()">{{to.btnText}}</button>
            </p>
        </div>
    </div>
</script>


</body>

</html>